__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/
.github
.git
.gitignore
.idea
.trash
.vscode
*.swp
*.swo
*.md

Data/
tests

confusion_matrix.png
feature_importances.png

main.py
Missamou_Kephan_1__API_112024.ipynb
Missamou_Kephan_2_notebook_modélisation_112024.ipynb